.second_hero {
  background-image: url("../../images/1x/categoryhero.png");
  min-width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease 300ms;
}
